.camera-box {
  width: 100%;
  height: 250px;
  background-color: var(--ion-color-light-shade);
  border: 2px dashed var(--ion-color-medium-shade);
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;

  .camera-icon {
    font-size: 64px;
    color: var(--ion-color-medium-shade);
  }
  
  p {
    font-weight: 500;
    margin-top: 5px;
  }

  &:hover {
    background-color: var(--ion-color-light-tint);
  }
}

.preview-box {
  position: relative;
  width: 100%;

  .preview-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid var(--ion-color-medium-shade);
  }

  .retake-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}