<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/sales/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Laporan Kunjungan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <form (ngSubmit)="onSubmit()">
    
    <ion-list-header>
      <ion-label>Informasi Tempat</ion-label>
    </ion-list-header>
    
    <ion-item class="rounded-item ion-margin-bottom">
      <ion-input 
        label="Nama Tempat / Bisnis *" 
        label-placement="stacked" 
        [(ngModel)]="placeName" 
        name="placeName" 
        placeholder="Contoh: Toko Jaya Abadi" 
        required>
      </ion-input>
    </ion-item>

    <ion-item class="rounded-item ion-margin-bottom">
      <ion-textarea 
        label="Alamat Lengkap *" 
        label-placement="stacked" 
        [(ngModel)]="address" 
        name="address" 
        rows="2" 
        placeholder="Jl. Jendral Sudirman No. 1..." 
        required>
      </ion-textarea>
    </ion-item>

    <ion-row>
      <ion-col size="6">
        <ion-item class="rounded-item">
          <ion-input 
            label="Nama PIC *" 
            label-placement="stacked"
            [(ngModel)]="picName" 
            name="picName" 
            placeholder="Bpk. Budi" 
            required>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item class="rounded-item">
          <ion-input 
            label="No. HP PIC *" 
            label-placement="stacked"
            [(ngModel)]="picPhone" 
            name="picPhone" 
            type="tel" 
            placeholder="081..." 
            required>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-list-header class="ion-margin-top">
      <ion-label>Hasil Kunjungan</ion-label>
    </ion-list-header>

    <ion-item class="rounded-item ion-margin-bottom">
      <ion-select 
        label="Status Hasil *" 
        label-placement="stacked"
        [(ngModel)]="result" 
        name="result" 
        placeholder="Pilih Hasil Kunjungan" 
        interface="action-sheet"
        required>
        <ion-select-option *ngFor="let res of visitResults" [value]="res.value">
          {{ res.label }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="rounded-item ion-margin-bottom">
      <ion-textarea 
        label="Catatan Tambahan (Opsional)" 
        label-placement="stacked"
        [(ngModel)]="notes" 
        name="notes" 
        rows="3" 
        placeholder="Catatan khusus atau tindak lanjut...">
      </ion-textarea>
    </ion-item>

    <ion-list-header class="ion-margin-top">
      <ion-label>Bukti Kunjungan</ion-label>
    </ion-list-header>

    <div class="camera-section ion-margin-bottom">
      <ion-label color="medium" class="ion-text-wrap ion-margin-bottom d-block small-text">
        Ambil foto lokasi/bersama PIC. GPS akan dicatat otomatis.
      </ion-label>
      
      <app-camera-view (photoTaken)="handlePhoto($event)"></app-camera-view>

      <div *ngIf="photoData && !locationData" class="ion-text-center ion-padding-top">
        <ion-spinner name="dots" color="primary"></ion-spinner>
        <p class="small-text">Sedang mengambil lokasi GPS...</p>
      </div>
      
      <div *ngIf="photoData && locationData" class="ion-text-center ion-padding-top text-success">
        <ion-icon name="location-sharp"></ion-icon>
        <span class="small-text">Lokasi Terkunci: {{ locationData.latitude | number:'1.4-4' }}, {{ locationData.longitude | number:'1.4-4' }}</span>
      </div>
    </div>

    <ion-button expand="block" type="submit" size="large" class="ion-margin-top" [disabled]="isSubmitting || !photoData || !locationData">
      <span *ngIf="!isSubmitting">Submit Laporan</span>
      <ion-spinner *ngIf="isSubmitting"></ion-spinner>
    </ion-button>

  </form>

</ion-content>