ion-tab-bar {
  --background: #ffffff;
  --border: 1px solid var(--ion-color-light);
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
}

ion-tab-button {
  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);
  
  ion-icon {
    font-size: 24px;
    margin-bottom: 2px;
  }

  ion-label {
    font-size: 10px;
    font-weight: 500;
  }
}