.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: var(--ion-color-medium-shade);
}

ion-spinner {
  width: 40px;
  height: 40px;
}

p {
  margin-top: 10px;
  font-weight: 500;
}